<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReservationsPrototype</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ReservationsPrototype.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">ReservationsPrototype</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Reservations/index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="transportDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Transportes 
                            </a>
                            <div class="dropdown-menu" aria-labelledby="transportDropdown">
                                <a class="dropdown-item" href="/Reservations/TransportP/Index">Listar</a>
                                <a class="dropdown-item" href="/Reservations/TransportP/Create">Crear </a>
                             </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="tourDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Tours 
                            </a>
                            <div class="dropdown-menu" aria-labelledby="tourDropdown">
                                <a class="dropdown-item" href="/Reservations/tourp/Index">Listar</a> 
                                <a class="dropdown-item" href="/Reservations/tourP/Create">Crear </a>
                             </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="HotelDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Hoteles  
                            </a>
                            <div class="dropdown-menu" aria-labelledby="HotelDropdown">
                                <a class="dropdown-item" href="/Reservations/Hotelp/Index">Listar</a>
                                <a class="dropdown-item" href="/Reservations/Hotelp/Create">Crear </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="ProvDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Proveedores
                            </a>
                            <div class="dropdown-menu" aria-labelledby="ProvDropdown">
                                <a class="dropdown-item" href="/Reservations/providerp/Index">Listar</a>
                                <a class="dropdown-item" href="/Reservations/providerp/Create">Crear </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="TiposTransporteDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Tipos de transporte
                            </a>
                            <div class="dropdown-menu" aria-labelledby="TiposTransporteDropdown">
                                <a class="dropdown-item" href="/Reservations/transporttypep/Index">Listar</a>
                                <a class="dropdown-item" href="/Reservations/transporttypep/Create">Crear </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ReservationsPrototype - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>