@page
@model ReservationsPrototype.Pages.Reservations.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reservation filters</h4>
<hr />
<div>
        <form class="row" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Reservation.StartDate" class="control-label"></label>
                    <input asp-for="Reservation.StartDate" class="form-control" />
                    <span asp-validation-for="Reservation.StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Reservation.EndDate" class="control-label"></label>
                    <input asp-for="Reservation.EndDate" class="form-control" />
                    <span asp-validation-for="Reservation.EndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Reservation.CustomerId" class="control-label"></label>
                    <select asp-for="Reservation.CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Reservation.IsActive" class="control-label"></label>
                    <input asp-for="Reservation.IsActive" class="form-control" />
                    <span asp-validation-for="Reservation.IsActive" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">

                <div class="form-group">
                    <label asp-for="SelectedHotelIds">Select Hotels:</label>
                    <select asp-for="SelectedHotelIds" class="form-control" asp-items="ViewBag.Hotel"></select>
                </div>

                <div class="form-group">
                    <label asp-for="SelectedTourIds">Select Tours:</label>
                    <select asp-for="SelectedTourIds" class="form-control" asp-items="ViewBag.Tours"></select>
                </div>

                <div class="form-group">
                    <label asp-for="SelectedTransportIds">Select Transports:</label>
                    <select asp-for="SelectedTransportIds" class="form-control" asp-items="ViewBag.Transports"></select>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-page="Index">Back to List</a>
            </div>
        </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
